{% extends 'base.html.twig' %}
{% block title %}Consulter un cours!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block header %}Mon superbe menu{% endblock %}
{% block body %}
<div class ="col-sm-12 col-xl-6 ">
    <div  class="container-fluid pt-4 px-4">
        <div class =" bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">PAGE DE CONSULTATION D'UNE INSCRIPTION</h6>

    <table class="table table-borderless">

        <tr><td>Eleve : </td><td>{{inscription.eleve.id}}</td>

        <tr><td>Cours : </td><td>{{inscription.cours.id}}</td>

        <tr><td>Date Inscription: </td><td>{{inscription.dateInscription|date('d/m/Y')}}</td></tr>

    </table>

        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}